    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        background-image: url(/images/hollow-knight-11-920x518.jpeg);
        background-position: 20%;}
    #container{ 
        width: 970px;
        padding: 10px;}
    h1{ 
        width: 950px;
        padding: 10px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 5cm;}
    h2{
        width: 950px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        text-align: left;}
    img{
        border: 5px rgb(255, 255, 255);}
    