p{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    width: 700px;
    border: 5px dashed skyblue;
    padding: 10px;
    margin: auto;
    background-color: slategray;}
body{
    background-color: antiquewhite;
    background-image: url(images/backgorund.jpeg);}
ul{
    background-color: antiquewhite;
    border: 2px skyblue;}

h1{ border: 5px dotted red;
    color: tomato;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: azure;}