title{font-family:White, 'Nerko One', cursive;}
header{font-family:  'Nerko One', cursive;
color: white;}
body{
    background-image: url(images/IndexBackground.jpg);
    background-position: 100%;
    display: flex;
    justify-content: center;
    background-color: black;}
canvas{
    display: flex;
    justify-content: center;
    border: 4px solid rgb(255, 255, 255);
}
.div{
    background-color: blue;
}
#container{
    background-color: blueviolet;
}